.profile-main {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  margin-top: 40px;
  padding: 20px 20px;
}

/* .profile-main-left {
  display: flex;
} */

.profile-main-header {
  font-weight: 600;
  padding: 0 40px 20px 0;
  color: #3d405b;
  font-size: 30px;
}

.profile-main-my-cart {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-main-my-cart-list {
  width: 100%;
}

.profile-main-left-last-tasks-list {
  width: 360px;
  border-right: 1px solid #ddd;
  margin-right: 30px;
}

.profile-main-left-last-tasks-list a,
.profile-main-my-cart-list a,
.profile-main-left-last-admin-list a {
  font-size: 18px;
  color: #e07a5f;
}

.profile-main-left-last-tasks-list a:hover,
.profile-main-my-cart-list a:hover,
.profile-main-left-last-admin-list a:hover {
  font-size: 18px;
  color: #3d405b;
}

.profile-main-left-last-tasks-list {
  display: flex;
  flex-direction: column;
}

.profile-list-item-btn-user {
  width: 160px;
  margin: 10px 0;
}

.profile-main-my-cart-list-item-main {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  justify-content: space-between;
}

.profile-main-my-cart-list-item {
  display: flex;
}

.profile-main-my-cart-list-item-image img {
  width: 80px;
}

.profile-main-my-cart-list-item-title {
  font-size: 20px;
  color: #3d405b;
  padding: 0px 10px;
}

.profile-main-my-cart-list-item-author {
  font-size: 16px;
  color: #e07a5f;
  padding: 5px 10px 0 10px;
}

.profile-main-my-cart-list-item-category {
  font-size: 16px;
  color: #e07a5f;
  padding: 0px 10px;
}

.profile-main-my-cart-list-item-price {
  font-size: 20px;
  color: #e07a5f;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-main-my-cart-list-item-buttons {
  display: flex;
  border-left: 1px solid #ddd;
  padding: 0 20px;
}

.profile-list-item-btn-admin {
  width: 160px;
  margin: 10px 0;
}

.profile-main-my-cart-list-item-book-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-book-btn {
  width: 110px;
  margin-bottom: 10px;
}

.delete-book-btn {
  width: 110px;
}

.profile-main-my-cart-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cart-order-btn {
  
}

.cart-register-btn {
  margin: 0 10px;
}

.cart-login-btn {
  margin: 0 10px;
}

.cart-not-loggedin-message {
  margin: 10px 0 20px 0;
  color: #e07a5f;
  font-weight: 600;
}

.profile-main-my-cart-list-item-details {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.profile-main-my-cart-total {
  font-size: 22px;
  margin-top: 10px;
  align-self: flex-end;
}

.total-price {
  color: #e07a5f;
}
