.mostwanted {
  height: 440px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.mostwanted-item-big {
  width: 330px;
  height: 440px;
  position: relative;
}

.mostwanted-item-big img {
  border: 0px;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0.8;
}

.mostwanted-item-big h2 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 26px;
  color: #3D405B;
}

.mostwanted-item-big h3 {
  position: absolute;
  top: 70px;
  left: 20px;
  font-size: 24px;
  color: #81b29a;
}

.mostwanted-items-small {
  display: flex;
}