.home-main-sliders {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 40px 0 0 0;
}

.home-main-sliders-big {
  width: 1040px;
  height: 530px;

  /* padding: 20px 10px 20px 0; */
}

.home-main-sliders-right {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
}

.home-main-sliders-small {
  width: 330px;
  height: 250px;
  /* padding: 20px 0 20px 10px; */
}

.home-info-boxes {
  display: flex;
  justify-content: space-around;
  align-content: center;
  border-top: 1px solid #dfdcd7;
  border-bottom: 1px solid #dfdcd7;
  width: 100%;
  margin-top: 50px;
  padding: 20px 0;
  height: 140px;
  margin-bottom: 40px;
}

.home-info-boxes-item {
  height: 120px;
  position: relative;
}

.home-info-boxes-item h4 {
  padding: 8px 0 2px 85px;
  font-size: 18px;
  margin: 18px 0 0 0;
  font-weight: 600;
}

.home-info-boxes-item p {
  padding: 0px 0 0 85px;
  font-size: 15px;
}

.home-info-boxes-item::before {
  width: 80px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  color: #81b29a;
  font-size: 55px;
  position: absolute;
  top: 10px;
  text-align: center;
}

.home-info-boxes-item:nth-child(1)::before {
  content: "\f0d1";
}

.home-info-boxes-item:nth-child(2)::before {
  content: "\f53d";
}

.home-info-boxes-item:nth-child(3)::before {
  content: "\f058";
}

.home-info-boxes-item:nth-child(4)::before {
  content: "\f590";
}

.home-info-boxes-item:nth-child(1)::after,
.home-info-boxes-item:nth-child(2)::after,
.home-info-boxes-item:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 80px;
  right: -70px;
  top: 12px;
  background-color: #dfdcd7;
}

.home-weekly-deals {
  height: 450px;
  margin-bottom: 50px;
  background-color: #f4f1de;
  padding: 20px 0;
}

.home-weekly-deals-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 10px 10px 10px;
}

.home-weekly-deals-items {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border: 1px solid #dfdcd7;
  padding: 30px 50px;
}

.home-weekly-deals-items-item {
  display: flex;
  justify-content: center;
  align-content: center;
}

.home-weekly-deals-items-item:first-child {
  border-right: 1px solid #dfdcd7;
  padding: 0 10px 0 10px;
}

.home-weekly-deals-items-item-img {
  width: 200px;
  height: 327px;
}

.home-weekly-deals-items-item-info {
  padding-left: 40px;
}

.home-weekly-deals-items-item h3 {
  padding: 0 0 10px 0;
  font-size: 22px;
}

.home-weekly-deals-items-item h3 a {
  text-decoration: none;
  color: #3d405b;
}

.home-weekly-deals-items-item h3 a:hover {
  color: #E07A5F;
}

.home-weekly-deals-items-item h5 {
  padding: 0 0 10px 0;
  font-size: 14px;
}

.home-weekly-deals-items-item h5 a {
  text-decoration: none;
  color: #E07A5F;
}

.home-weekly-deals-items-item h5 a:hover {
  color: #3d405b;
}

.home-weekly-deals-items-item p {
  padding: 0;
  font-size: 20px;
}

.home-weekly-deals-header-viewall a {
  text-decoration: none;
  color: #81b29a;
  font-weight: 600;
}

.home-weekly-deals-header-viewall a:hover {
  text-decoration: none;
  color: #3d405b;
  font-weight: 600;
}

.home-weekly-deals-header-viewall a span {
  position: relative;
}

.home-weekly-deals-header-viewall span::after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  color: #81b29a;
  font-size: 20px;
  position: relative;
  top: -1px;
  padding-left: 30px;
  right: 20px;
  text-align: center;
}

.home-weekly-deals-header-viewall span:hover::after {
  color: #3d405b;
}

.home-weekly-deals-header-title {
  color: #3d405b;
}

.home-best-sellers {
  height: 440px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-best-sellers-item-big {
  width: 330px;
  height: 440px;
  position: relative;
}

.home-best-sellers-item-big img {
  border: 0px;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0.8;
}

.home-best-sellers-item-big h2 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 26px;
  color: #f2cc8f;
}

.home-best-sellers-item-big h3 {
  position: absolute;
  top: 70px;
  left: 20px;
  font-size: 24px;
  color: #81b29a;
}

.home-best-sellers-items-small {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-best-sellers-items-item {
  padding: 0px 0px 0px 68px;
}

.home-best-sellers-items-item-img {
  width: 200px;
  height: 327px;
}

.home-best-sellers-items-item h3 {
  font-size: 14px;
}

.home-best-sellers-items-item h3 a {
  text-decoration: none;
  color: #3d405b;
}

.home-best-sellers-items-item h5 {
  padding: 10px 0;
  font-size: 12px;
}

.home-best-sellers-items-item h5 a {
  text-decoration: none;
  color: #3d405b;
}

.home-best-sellers-items-item p {
  font-size: 16px;
  font-weight: 600;
}
