#site-header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .header-top-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-bottom: 1px solid #dfdcd7;
    width: 100%;
  }
  
  .header-top-block img {
    padding: 0 20px;
  }
  
  .header-top-block {
    height: 115px;
  }
  
  .header-top-block-site-search {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #header-top-block-site-search-input {
    width: 600px;
    height: 60px;
    position: relative;
    padding: 0 60px 0 10px;
    font-size: 20px;
    border: 1px solid #dfdcd7;
  }
  
  .header-top-block-site-search-input-icon {
    position: relative;
    left: -45px;
    font-size: 34px;
    top: -3px;
    color: #3d405b;
    width: 60px;
  }
