#site-header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .header-top-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-bottom: 1px solid #dfdcd7;
    width: 100%;
  }
  
  .header-top-block img {
    padding: 0 20px;
  }
  
  .header-top-block {
    height: 115px;
  }
