.header-top-block-site-search {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-top-block-site-search-input {
  width: 600px;
  height: 60px;
  position: relative;
  padding: 0 60px 0 10px;
  font-size: 20px;
  border: 1px solid #dfdcd7;
}

.header-top-block-site-search-input-icon {
  position: relative;
  left: -45px;
  font-size: 34px;
  top: -3px;
  color: #3d405b;
  width: 60px;
}
