@import "https://use.fontawesome.com/releases/v5.15.2/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

.App {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

#site-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-bottom: 1px solid #dfdcd7;
  width: 100%;
  background-color: #f4f1de;
  font-size: 15px;
}

.header-top-bar-left {
  padding: 0 20px;
}

.header-top-bar-left-item {
  padding: 0 20px 0 0;
}

.header-top-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-bottom: 1px solid #dfdcd7;
  width: 100%;
}

.header-top-bar-icon {
  padding: 0 10px 0 0;
  color: #3d405b;
  margin: 0px;
}

.header-top-bar-icon-store {
  padding: 0 10px 0 10;
  color: #3d405b;
}

.header-top-bar-left-item a {
  text-decoration: none;
  color: #e07a5f;
}

.header-top-block img {
  padding: 0 20px;
}

.header-top-block {
  height: 115px;
}

.header-top-block-right {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.header-top-block-right-item {
  list-style: none;
  padding: 0 0 0 20px;
  font-size: 18px;
}

.header-top-block-right-item a {
  text-decoration: none;
  color: #3d405b;
}

.header-top-block-right-item a:hover {
  text-decoration: none;
  color: #e07a5f;
}

.header-top-bar-right {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.header-top-bar-right-item {
  list-style: none;
  padding: 0 0 0 20px;
}

.header-top-bar-right-item a {
  text-decoration: none;
  color: #3d405b;
}

.header-top-bar-right-item a:hover {
  text-decoration: none;
  color: #e07a5f;
}

.header-top-bar-right-item:first-child::before {
  width: 30px;
  font-family: "Font Awesome 5 Free";
  content: "\f3c5";
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  margin-right: -10px;
  color: #3d405b;
}

.header-top-block-site-search-input {
  width: 650px;
  height: 60px;
  position: relative;
  padding: 10px 60px 10px 10px;
  font-size: 20px;
  border: 1px solid #dfdcd7;
}

.header-top-block-site-search-input-icon {
  position: relative;
  left: -45px;
  font-size: 30px;
  top: 5px;
  color: #3d405b;
}

.header-top-navigation {
  height: 55px;
  border-bottom: 1px solid #dfdcd7;
  width: 100%;
}

.header-top-navigation-menu {
  display: flex;
  align-items: center;
  padding: 0;
}

.header-top-navigation-menu-item {
  list-style: none;
  padding: 15px 20px;
  font-size: 20px;
}

.header-top-navigation-menu-item a {
  text-decoration: none;
  color: #3d405b;
  position: relative;
}

.header-top-navigation-menu-item a:hover {
  text-decoration: none;
  color: #e07a5f;
}

.header-top-navigation-menu-item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #3d405b;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0.1s;
}

.header-top-navigation-menu-item a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.header-top-navigation-menu-item-active{
  background-color: #f2cc8f;
}

.home-main-sliders {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 40px 0 0 0;
}

.home-main-sliders-big {
  width: 1040px;
  height: 530px;

  /* padding: 20px 10px 20px 0; */
}

.home-main-sliders-right {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
}

.home-main-sliders-small {
  width: 330px;
  height: 250px;
  /* padding: 20px 0 20px 10px; */
}

.home-info-boxes {
  display: flex;
  justify-content: space-around;
  align-content: center;
  border-top: 1px solid #dfdcd7;
  border-bottom: 1px solid #dfdcd7;
  width: 100%;
  margin-top: 50px;
  padding: 20px 0;
  height: 140px;
  margin-bottom: 40px;
}

.home-info-boxes-item {
  height: 120px;
  position: relative;
}

.home-info-boxes-item h4 {
  padding: 25px 0 5px 85px;
  font-size: 16px;
}

.home-info-boxes-item p {
  padding: 5px 0 0 85px;
  font-size: 14px;
}

.home-info-boxes-item::before {
  width: 80px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  color: #81b29a;
  font-size: 55px;
  position: absolute;
  top: 20px;
  text-align: center;
}

.home-info-boxes-item:nth-child(1)::before {
  content: "\f0d1";
}

.home-info-boxes-item:nth-child(2)::before {
  content: "\f53d";
}

.home-info-boxes-item:nth-child(3)::before {
  content: "\f058";
}

.home-info-boxes-item:nth-child(4)::before {
  content: "\f590";
}

.home-info-boxes-item:nth-child(1)::after,
.home-info-boxes-item:nth-child(2)::after,
.home-info-boxes-item:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 80px;
  right: -70px;
  top: 12px;
  background-color: #dfdcd7;
}

.home-weekly-deals {
  height: 450px;
  margin-bottom: 50px;
  background-color: #f4f1de;
  padding: 20px 0;
}

.home-weekly-deals-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 10px 10px 10px;
}

.home-weekly-deals-items {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border: 1px solid #dfdcd7;
  padding: 30px 50px;
}

.home-weekly-deals-items-item {
  display: flex;
  justify-content: center;
  align-content: center;
}

.home-weekly-deals-items-item:first-child {
  border-right: 1px solid #dfdcd7;
  padding: 0 10px 0 10px;
}

.home-weekly-deals-items-item-img {
  width: 200px;
  height: 327px;
}

.home-weekly-deals-items-item-info {
  padding-left: 40px;
}

.home-weekly-deals-items-item h3 {
  padding: 0 0 10px 0;
  font-size: 22px;
}

.home-weekly-deals-items-item h3 a {
  text-decoration: none;
  color: #3d405b;
}

.home-weekly-deals-items-item h5 {
  padding: 0 0 10px 0;
  font-size: 14px;
}

.home-weekly-deals-items-item h5 a {
  text-decoration: none;
  color: #3d405b;
}

.home-weekly-deals-items-item p {
  padding: 10px 0 0 0;
  font-size: 20px;
}

.home-weekly-deals-header-viewall a {
  text-decoration: none;
  color: #81b29a;
  font-weight: 600;
}

.home-weekly-deals-header-viewall a:hover {
  text-decoration: none;
  color: #3d405b;
  font-weight: 600;
}

.home-weekly-deals-header-viewall a span {
  position: relative;
}

.home-weekly-deals-header-viewall span::after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  color: #81b29a;
  font-size: 20px;
  position: relative;
  top: -1px;
  padding-left: 30px;
  right: 20px;
  text-align: center;
}

.home-weekly-deals-header-viewall span:hover::after {
  color: #3d405b;
}

.home-weekly-deals-header-title {
  color: #3d405b;
}

.home-best-sellers {
  height: 440px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-best-sellers-item-big {
  width: 330px;
  height: 440px;
  position: relative;
}

.home-best-sellers-item-big img {
  border: 0px;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0.8;
}

.home-best-sellers-item-big h2 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 26px;
  color: #f2cc8f;
}

.home-best-sellers-item-big h3 {
  position: absolute;
  top: 70px;
  left: 20px;
  font-size: 24px;
  color: #81b29a;
}

.home-best-sellers-items-small {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-best-sellers-items-item {
  padding: 0px 0px 0px 68px;
}

.home-best-sellers-items-item-img {
  width: 200px;
  height: 327px;
}

.home-best-sellers-items-item h3 {
  font-size: 14px;
}

.home-best-sellers-items-item h3 a {
  text-decoration: none;
  color: #3d405b;
}

.home-best-sellers-items-item h5 {
  padding: 10px 0;
  font-size: 12px;
}

.home-best-sellers-items-item h5 a {
  text-decoration: none;
  color: #3d405b;
}

.home-best-sellers-items-item p {
  font-size: 16px;
  font-weight: 600;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0;
}

.newsletter h3 {
  font-size: 28px;
  color: #3d405b;
}

.newsletter p {
  padding: 20px 0;
  color: #81b29a;
}

.newsletter input {
  width: 650px;
  height: 60px;
  position: relative;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #dfdcd7;
}

.newsletter-icon {
  position: relative;
  left: -45px;
  font-size: 30px;
  top: 5px;
  color: #3d405b;
}

.newsletter-button {
  width: 150px;
  height: 60px;
  font-size: 22px;
  color: #f4f1de;
  background-color: #e07a5f;
  border: 0px;
  margin-left: 30px;
}

.newsletter-button:hover {
  cursor: pointer;
}

.footer {
  border-top: 1px solid #dfdcd7;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-address {
  display: flex;
  flex-direction: column;
}

.footer-address h5 {
  font-size: 18px;
  padding-bottom: 10px;
}

.footer-address p {
  font-size: 14px;
  padding: 5px 0;
}

.footer-address-map-link {
  text-decoration: none;
  color: #e07a5f;
  font-weight: 700;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.footer-contacts h5 {
  font-size: 18px;
  padding-bottom: 10px;
}

.footer-contacts p {
  font-size: 14px;
  padding: 5px 0;
}

.footer-payments {
  align-self: center;
}

.footer-share {
  font-size: 30px;
  align-self: center;
}

.footer-share a {
  color: #e07a5f;
}

.footer-share a i {
  padding: 10px 15px;
  position: relative;
  left: 15px;
}

.footer-bottom {
  padding: 10px 15px 0 15px;
  align-self: center;
  font-size: 16px;
}
